* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #121212;
	scroll-behavior: smooth;
}

html {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ol,
ul {
	margin: 0;
	padding:  0;
}

body {
	position: relative;
	background: #f5f7fa;
	overflow-x: hidden;
	padding-bottom: 153px;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
}

@media (max-width: 1200px) {
	body {
		padding-bottom: 94px;
	}
}

@media (max-width: 768px) {
	body {
		padding-bottom: 152px;
	}

	.menu {
		display: flex;
	}
}

a {
	text-decoration: none;
}

table {
	margin-bottom: 40px;
}
tr,td {
	margin: auto auto 15px; border: 2px; border-radius: 5px; background: blue; 
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 38, 245, 1);
	padding: 10px calc((100% - 1170px) / 2);
	z-index: 5;
}

@media (max-width: 1024px) {
	.header {
		flex-wrap: wrap;
	}
}

@media (max-width: 1200px) {
	.header {
		padding: 10px 20px;
	}
}

@media (max-width: 768px) {
	.header {
		justify-content: center;
	}
}

.header__logo-image {
	width: 250px;
	height: 117px;
}

@media (max-width: 720px) {
	.header__logo-image {
		width: 150px;
		height: 87px;
	}	
}
.header__logo {
	min-width: 210px;
	width: 100%;
	max-height: 78px;
	color: #fff;
  text-align: center;
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
}


.header__menu {
	position: relative;
	width: 100%;
}

@media (max-width: 1024px) {
	.header__logo {
		justify-content: center;
	}

	.header__menu {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.header__menu {
		min-height: 50px;
	}
}

.header__menu ul {
	width: 100%;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: -20px;
}

@media (max-width: 1024px) {
	.header__menu ul {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.header__menu ul {
		display: inline-flex;
		align-items: center;
		padding-bottom: 20px;
		flex-direction: column;
		transition: all 0.3s linear;
	}
}

.header__menu ul li {
	position: relative;
	margin: 0 10px 20px !important;
}

@media (max-width: 1024px) {
	.header__menu ul li {
		margin: 0 45px;
		height: 35px;
		line-height: 35px;
	}
}

@media (max-width: 768px) {
	.header__menu ul, .header__menu {
		width: 125px;
	}
	.header__menu ul li {
		margin: 0 0 5px !important;
		text-align: center;
		height: auto;
	}
}

.header__menu ul li:first-child {
	margin-left: 0;
}

.header__menu ul li a {
	background: linear-gradient(90deg, #FFC700 0%, #FFEA21 100%), #FF9E2C;
}

.header__menu ul li a,
.header__menu ul li span {
	font-size: 14px;
	padding: 10px 15px;
	color: #232939;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

.header__menu ul li a:hover,
.header__menu ul li span:hover {
	color: #affc80;
}

.header__menu ul li.current-menu-item span {
	color: #affc80;
}

#nav-icon {
	width: 30px;
	height: 25px;
	margin: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
	position: absolute;
	z-index: 5;
	right: 11px;
	top: 15px;
}

@media (max-width: 768px) {
	#nav-icon {
		display: none;
	}
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #fff;
	border-radius: 4px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
	top: 0;
}

#nav-icon span:nth-child(2) {
	top: 9px;
}

#nav-icon span:nth-child(3) {
	top: 18px;
}

.container {
	padding: 40px calc((100% - 1070px) / 2) 100px;
}

@media (max-width: 1200px) {
	.container {
		padding: 40px 20px 100px;
	}
}

.front__content {
	margin-top: 40px;
	width: 100%;
	order: 3;
}

.front__content.top-text {
	margin-bottom: 30px;
	margin-top: 30px;
}

.content {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	margin-left: -20px;
	margin-top: -10px;
	list-style-type: none;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #191a1f;
	padding: 40px calc((100% - 1170px) / 2);
}

.footer .footer-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.footer .footer-wrap {
		flex-direction: column;
	}
}

@media (max-width: 1200px) {
	.footer {
		padding: 10px 20px;
	}
}

.footer__logo {
	max-width: 210px;
	min-width: 210px;
	width: 100%;
}

@media (max-width: 768px) {
	.footer__logo {
		margin: 0 auto 15px;
	}

	.footer {
		padding: 10px 20px 130px;
	}
}

.footer__logo img {
	width: 100%;
}

.text-enter>*:last-child {
	margin: 0;
}

.text-enter p {
	font-size: 18px;
	line-height: 32px;
	color: #434656;
	margin: 0 0 40px;
}
.text-enter ul {
	font-size: 18px;
	line-height: 25px;
	color: #434656;
	margin: 0 0 40px;
}
.text-enter ol {
	font-size: 18px;
	line-height: 25px;
	color: #434656;
	margin: 0 0 40px;
}
.text-enter h1 {
	color: #434656;
	font-weight: 700;
	margin-bottom: 40px;
	font-size: 30px;
}

.text-enter h1 {
	margin-bottom: 45px;
	font-size: 36px;
}

@media (max-width: 768px) {
	.text-enter h1 {
		font-size: 34px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.footer-copy {
	margin-top: 10px;
	color: #fff;
	text-align: center;
}

.fixed__buttons {
  display: none;
}

.fixed__button {
  z-index: 100;
}

.main {
	margin-top: 30px;
	margin-left: 244px;
	margin-right: 224px;
}

.main-title {
	font-size: 36px;
	color: #434656;
	font-weight: 700;
}

.list_titles {
	line-height: 25px;
	margin-top: 40px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 18px;
}

.main__paragraph {
	line-height: 32px;
	margin-top: 40px;
	font-size: 18px;
}

.table {
  display: flex;
  flex-direction: column;
	background-color: rgba(0, 38, 245, 1);
  margin-top: 53px;
	overflow: auto;
  border-radius: 17px;
}

.table-row:last-of-type {
	border-bottom: none;
}

.table-row {
	min-width: 680px;
  display: flex;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

.table-title {
  padding: 8px 0;
	color: white;
  padding-left: 10px;
	width: 200px;
}

.table-title-container {
  width: 200px;
  border-right: 1px solid #232939;
  padding: 2px 0;
  font-weight: 600;
}

.table-description {
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
	color: white;
}

.main__pretitle {
	font-size: 1.5em;
	margin-top: 40px;
}

.main__paragraph--first {
	margin-top: 0;
}

.fourth__table {
	background-color: rgba(0, 38, 245, 1);
	border-radius: 17px;
	overflow: auto;
}

.fourth-table-title {
  width: 140px;
}

.fourth__table-row {
  display: flex;
	justify-content: space-between;
  min-width: 630px;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

.fourth__table-row:last-of-type {
	border-bottom: none;
}

.fourth__table-title {
  padding: 8px 0;
  white-space: nowrap;
  padding-left: 10px;
}

.fourth__table-title-container {
  padding: 2px 0;
  width: 170px;
  font-weight: 600;
  border-right: 1px solid #232939;
}

.fourth__table-description {
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
}

.fourth-table-description {
  min-width: 230px;
	position: relative;
	right: 50px;
}

@media (max-width: 1024px) {
	.fourth-table-description {
		right: 0px;
	}	
}

@media (max-width: 768px) {
	.fourth-table-description {
		position: static;
	}	
}

.bonus-image-container {
  height: 270px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 40px;
}



.bonus-image {
  background-position: 90% 33%;
  overflow: hidden;
  background-size: contain;
  height: 270px;
  background-color: #0026F5;
  border-radius: 16px;
  background-image: url('../images/bonus-image.png');
  background-repeat: no-repeat;
  margin: 0 auto;
	align-items: end;
	position: relative;
	margin-top: 30px;
}

.small__images {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	position: absolute;
	bottom: 16px;
	width: 100%;
	white-space: nowrap;
	gap: 10px;
}

.bonus-image-text-container {
  z-index: 12;
  position: relative;
	top: 30px;
	left: 30px;
  margin: 0 auto;
}

.bonus-image-title {
  color: white;
  font-weight: 800;
  font-size: 28px;
}

.bonus-image-pretitle {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.bonus-image-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #1D222F;
  background: linear-gradient(90deg, #FFC700 0%, #FFEA21 100%), #FF9E2C;
  border-radius: 44px;
  padding: 12px 20px;
  text-decoration: none;
}

.small-images-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 32;
  top: 55px;
  justify-content: space-between;
  padding: 16px 36px;
  border-radius: 17px;
  gap: 10px;
  white-space: nowrap;
}

.small-image-container {
  background-color: #353D52;
  padding: 12px 15px;
  border-radius: 17px;
  display: flex;
  gap: 14px;
	height: 44px;
  font-size: 15px;
  color: white;
  align-items: center;
  font-weight: 400;
  justify-content: space-evenly;
}

.price {
  font-weight: 700;
}

.small-image--message {
  height: 19px;
}

.small-image--phone {
  height: 26px;
}

.small-image--database {
  height: 23px;
}

.small-image-text {
  font-weight: 500;
  font-size: 13px;
	color: white;
}

@media (max-width: 1200px) {

  .small-image-text {
    display: none;
  }

  .bonus-image-title {
    font-size: 24px;
  }

	.small__images {
		justify-content: start;
	}

  .small-images-container {
    top: 32px;
    justify-content: start;
  }

  .bonus-image-pretitle {
    font-size: 16px;
  }

  .bonus-image {
    background-position: 100% 28px;
  }
}

@media (max-width: 720px) {
  .bonus-image-pretitle {
    font-size: 13px;
  }

  .paragraph-inside-container {
    font-size: 13px;
    padding: 7px 12px;
  }

  .bonus-image-container {
    width: calc(100% - 32px);
    margin-left: 0px;
    margin-right: 0px;
    height: 273px;
  }

  .small-images-container {
    justify-content: start;
    margin-left: 0px;
    top: 64px;
    background-color: transparent;
  }

  .bonus-image {
    height: 273px;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 16px;
  }

  .bonus-image-text-container {
    left: 0px;
    width: calc(100% - 23px);
    top: 40px;
  }

	.small__images {
		left: -16px;
	}

  .bonus-image-title {
    font-size: 18px;
  }

  .small-image--message {
    height: 16px;
  }
  
  .small-image--phone {
    height: 22px;
  }
  
  .small-image--database {
    height: 20px;
  }

  .bonus-image-link {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
	.bonus-image {
		background-size: cover;
		background-position: 70% 100px;
	}
}

.fourth__table-row--first {
  background-color: #1D222F;
  padding: 13px 0;
  border-radius: 17px 17px 0 0;
  width: 100%;
}

.fourth__table-with-header-row {
  justify-content: space-between;
  min-width: 620px;
}

.fourth__table-with-header-description {
  width: 230px;
}

.fourth__table-with-header-row--first {
  background-color: #1D222F;
  border-radius: 17px 17px 0 0;
}

.fourth__table-with-header-title-container {
  border-right: none;
  width: auto;
}

.fourth__table-title-container {
  border-right: none;
}

.fourth__table-description--with-width {
  width: 30%;
}

.fourth-table-title-container {
  border-right: none;
  padding-right: 10px;
}

.fourth-table-title {
  width: 150px;
}

.fourth__table-row {
  white-space: nowrap;
  width: auto;
  min-width: 650px;
}

.table-title--alone {
	width: 100%;
}

.table-title-container--alone {
	border-right: none;
	width: 100%;
}

.table-title--alone-eight {
	text-align: center;
}

.eight-table-title-container {
	width: 60%;
	padding-left: 10px;
}

.eight-table-title {
	width:  98%;
	padding: 5% 0;
}

.ninth-table-description, .first-table-description {
	border-left: 1px solid #232939;
	min-height: 39px;
}

.ninth-table-title-container {
	border: none;
}

.table-row-sixth, .table-row-seventh {
	min-width: 400px;
}

.table__list {
	padding-left: 15%;
}

.list__element {
	color: white;
}

.table-description-link {
	color: white;
}

@media (max-width: 1024px) {
	.eight-table-title-container {
		width: 70%;
	}
	
	.eight-table-title {
		width:  90%;
	}

	.table__list {
		padding-left: 7%;
	}
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

@media (max-width: 768px) {
	.eight-table-title-container {
		width: 80%;
	}
	
	.eight-table-title {
		width:  97%;
	}

	.table__list {
		padding-left: 10px;
	}
}

.select {
	background: #0026F5;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #0026F5 solid;
  border-radius: 0.5em;
  padding: 6px 8px;
  cursor: pointer;
}

.selected {
  font-size: 18px;
  font-weight: 500;
	color: white;
}

.select-clicked {
  border: 1px #FFD60E solid;
  border-bottom: none;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}


.caret-rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  list-style: none;
  background: #0026F5;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.dropdown-menu li {
  padding: 6px 8px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  opacity: 1;
  background-color: rgba(0, 38, 245, 0.7);
	border: none;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
	color: white;
}

.dropdown--last {
  margin-bottom: 93px;
}

@media (max-width: 720px) {
  .questions-title {
    font-size: 18px;
    margin-left: 16px;
  }

  .dropdown {
    width: calc(100% - 32px);
    margin-left: 16px;
  }

  .select {
    gap: 10px;
  }

  .menu li, .selected {
    font-size: 13px;
  }
}

@media (max-width: 908px) {
	.table-title-container--fifteenth {
		height: 55px;
	}
}

@media (max-width: 1200px) {
	.main {
		margin-top: 50px;
		margin-left: 116px;
		margin-right: 99px;
	}
}

@media (max-width: 768px) {
  .fixed__button {
    background-color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 46px;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding: 12px 0;
    text-transform: uppercase;
    border-radius: 33px;
    text-align: center;
    width: calc(50% - 17px);
    position: fixed;
    bottom: 0px;
  }


  .fixed__buttons {
    display: flex;
    background-color: #232939;
    padding-right: 12px;
    gap: 10px;
  }

  .fixed__button--giris {
    color: black;
    background: linear-gradient(90deg, #FFC902 0%, #FFE61E 100%);
  }

  .fixed__button--katyl {
    background: #03B08A;
    right: 12px;
  }

	.main {
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 80px;
	}

	.table {
		margin-left: 0px;
		margin-right: 0px;
		width: auto;
	}
}

.signup-container {
	display: flex;
	gap: 16px;
	margin-top: 40px;
}

.signup__image {
	border-radius: 17px;
	width: 300px;
	height: 580px;
}

.signup__paragraph {
	margin: 0;
}

.bettilt__sport {
	width: 70%;
	margin-top: 30px;
	position: relative;
	border-radius: 17px;
	left: 50%;
	transform: translateX(-50%);
}

.bettilt__games {
	width: 75%;
	border-radius: 17px;
	margin-top: 30px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.content__image {
	width: 60%;
	height: 70%;
	border-radius: 17px;
}

.content__container {
	justify-content: space-between;
	gap: 20px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

@media (max-width: 1200px) {
	.signup-container {
		flex-direction: column;
		align-items: start;
	}

	.content__container {
		flex-direction: column;
		align-items: start;
	}

	.content__image {
		align-self: center;
	}
}

@media (max-width: 720px) {
	.signup__image {
		width: 280px;
		height: 480px;
	}

	.content__image {
		width: 100%;
		height: 100%;
		margin-left: -20px;
	}
}

@media (max-width: 768px) {
	.header__logo {
		max-width: 150px;
		min-width: 150px;
	}
}
